<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Generate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Generate.Properties.Settings>
            <setting name="EnigmaConnectionString" serializeAs="String">
                <value>Data Source=localhost;Initial Catalog=nTest;User ID=sa;Password=q1p0w2o9</value>
            </setting>
        </Generate.Properties.Settings>
    </userSettings>
</configuration>